.content{
    float:left;
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    background-color: #f2f2f2;
}
.content > div:first-child{
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
}