.content{
    float:left;
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    background-color: #f2f2f2;
    margin-left: var(--sidebar-width)
}
.content > div:first-child{
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    width: calc(100% - var(--sidebar-width));
    padding: 20px;
}
.content > div:last-child{
    padding: 90px 40px 20px;
}
.content > div:last-child > div{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #d9d9d9;
    overflow-x: scroll;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}
th, td{
    padding: 10px 5px;
    text-align: center;
}
table tr:first-child th,
table tr:nth-child(odd) td{
    background-color: #f2f2f2
}
.account{
    float: right;
}
.account > button{
    font-size: 18px;
    border-width: 0px;
    background-color: transparent;
    color: #004370;
    margin-left: 8px;
    cursor: pointer;
}
.account > button:hover{
    color: #428bca
}

